/* This file contains styles shared by both light & dark themes.
   Style rules can be customised using SCSS variables set in dark.scss & light.sccs.
   How to add a rule that uses different values for each theme.

   1. Add a variable in light.scss & dark.scss files, it needs to be set before
      "@import ./shared" statement.
      Example:

      $foo = '#000';

   2. Add a style rule in _shared.scss (this file) that uses new variable.
      Example:

      .my-class { background-color: $foo; }

   Instead of setting custom variables you can re-use any of bootstrap SCSS variables
   as they are all imported and ready.
   Resources:
   - https://getbootstrap.com/docs/4.6/getting-started/theming/
   - https://github.com/twbs/bootstrap/blob/v4.6.0/scss/_variables.scss
*/

$nav-bar-height: 50px;
$flex-top-bar-height: 40px;

body {
  min-height: 100vh;
  padding: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  display: block;
  padding-top: $nav-bar-height;
}

.top-bar {
  background-color: $dropdown-divider-bg;
  background-image: none;
  width: 100%;
  height: $nav-bar-height;
  z-index: 2;
  padding: 0;
}

.content-container {
  position: fixed;
  z-index: 10;
}

.link {
  text-decoration: none;
  align-items: center;
  line-height: inherit;
  margin-right: 0.5rem;
  white-space: nowrap;
  padding-bottom: 4px !important;
}

.navbar-brand {
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.logo {
  padding-right: 0.75rem;
  margin-left: 0;
  height: 2rem;
  width: auto;
}

.navbar-collapse {
  background-color: $gray-800;
  padding-left: 0.75rem;
  width: 100%;
}

@media (min-width: 768px) {
  #large {
    display: none !important;
    flex-basis: auto;
  }
}

.row {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
}

.flex-top-bar {
  background-color: $gray-800;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 0 15px;
  align-items: center;
  flex-wrap: wrap;
  line-height: $flex-top-bar-height;
}

.actions {
  display: flex;
  align-items: center;
  line-height: $flex-top-bar-height;
  height: $flex-top-bar-height;
  margin: 0 auto;
  padding: 0;
  box-sizing: inherit;
}

.tools {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.select {
  position: relative;
  display: inline-block;
}

.search-wrapper {
  line-height: normal;
  margin: 8px auto;
  display: flex;
  position: relative;
}

.job-list {
  height: 500px;
  padding: 1em;
  position: fixed;
  width: 100%;
}

.search {
  background-color: $gray-900;
  border-color: currentcolor;
  border: 1px solid;
  min-width: 60px;
  border-radius: 7px;
  position: relative;
  padding: 0 10px;
  height: 33px;
  display: flex;
  align-items: center;
  transition: width 200ms;
}

.search-input,
.search-input:focus,
.search-input:focus-visible {
  background-color: transparent;
  border: none !important;
  color: $gray-500;
  outline: none !important;
}

.MuiSelect-select {
  min-width: 50px;
}

.MuiFormLabel-root {
  color: $gray-200 !important;
}

.status-select {
  margin-left: 15px;
  position: relative;
  display: flex;
  height: 56px;
}

.status-select span {
  height: auto;
  line-height: 1.4375em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 16.5px 14px;
}

.MuiInputBase-root {
  color: $gray-200;
}

.dropdown-menu {
  background-color: $body-bg;
  color: $body-color;
  min-width: 0 !important;
  padding: 4px 0px;
}

.dropdown-item {
  padding: 6px 6px;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.MuiPaper-rounded {
  box-shadow: none;
  border-width: 1px !important;
  border-radius: .5rem;
  border: 0 solid rgba($box-shadow-color, 0.20);
}

.MuiMenu-paper {
  background-color: $dropdown-divider-bg !important;
  color: $body-color !important;
}

.MuiSvgIcon-root {
  color: $body-color !important;
}

.job-table {
  width: 100%;
}

.thead {
  display: flex;
}

.tr {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.th,
.td {
  height: 63px;
  flex: 1;
  display: flex;
  align-items: center;
}

.d-none {
  display: none;
}

.d-sm-table-cell {
  display: table-cell;
}

.row-menu {
  display: flex;
}

.row-date {
  min-width: 60px;
}

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.auth-form {
  background-color: $body-bg;
  border-radius: 0;
  color: $border-color;
  display: block;
  padding: 1.25rem;
}

.token-input {
  padding: 20px;
  border-radius: 8px;
}

.field:not(:last-child) {
  margin-bottom: 1.5rem;
}

.is-label {
  color: $label-color;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
}

.is-label:not(:last-child),
.is-label:not(:last-child) {
  margin-bottom: .25rem;
}

.password-input-container {
  display: flex;
  width: 100%;
  border-radius: 2px;
  padding: 0px 0px;
  background: white;
  font-size: 1rem;
  color: #ccccdc;
  position: relative;
  z-index: 0;
}

.password-input {
  position: relative;
  -moz-box-flex: 1;
  flex-grow: 1;
  z-index: 1;
}

.password-input-suffix {
  position: absolute;
  top: 0px;
  z-index: 1;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 14px;
  height: 100%;
  min-width: 28px;
  color: #a0a0acA6;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: -2px;
  border-left: medium;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  right: 0px;
}

.eye-icon {
  display: inline-block;
  line-height: 0;
}

table,
.job-table {
  position: relative;
  display: table !important;
  width: 100%;
  table-layout: fixed;
}

th,
td,
.th,
.td {
  color: $body-color !important;
  border-top: none !important;
  border-bottom: 1px solid $table-border-color !important;
  word-break: break-word;
}

.progress {
  min-width: 100px;
}

ul {
  margin-bottom: 0 !important;
}

.MuiMenuItem-root {
  padding-left: 8px;
  padding-right: 8px;
}

button {
  color: $button-color !important;
}

button:focus,
.dropdown-item:focus,
[type="submit"]:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

button:active,
.dropdown-item:active,
[type="submit"]:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background-color: rgba($label-color, 0.50) !important;
}
