@import 'bootstrap_dark';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

@import '~@forevolve/bootstrap-dark/scss/_dark-variables.scss';


$label-color: #e0e4eb;
$border-color: #cfd4db;
$button-color: $gray-100;
$box-shadow-color: $white;

.bootstrap-dark {
  @import './shared';
}
