/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282c34;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  line-height: inherit;
  margin-right: 1rem;
  padding-bottom: .3125rem;
  padding-top: .3125rem;
  white-space: nowrap;
}

.logo {
  margin-left: 15px;
  width: 80px;
  height: 80px;
}

.appNameContainer {
  margin-left: 10px;
}

.appName {
  font-size: 20px;
  color: #e8e6e3;
  text-decoration: none;
}

.navBar {
  justify-content: space-between;
  display: flex !important;
  flex-basis: auto;
  align-items: center;
  flex-basis: 100%;
  flex-grow: 1;
}

.navItems {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0 !important;
}

.navItem {
  margin-right: 20px;
  font-size: 18px;
  color: #e8e6e3;
  text-decoration: none;
}

.navItem:hover {
  filter: brightness(1.1);
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentContainer {
  display: flex;
  flex-grow: 1;
}

.centeredContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.modal {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
